<h1>Reset password</h1>
<% form_for(@user, :send_instructions) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <br/>
  <%= f.submit 'Send instructions', :class => "btn btn-primary" %>
<% end %>