<%- form_tag url(:job_offers, method, :offer_id => id), :method => action, :style => 'display:inline' do %>
    <button type='submit' title=<%=name%> rel='tooltip' class="btn btn-secondary" ><%=name%>
    </button>
<% end %>
